.title-animation {
    animation: title 1s forwards ease-out;
    animation-delay: .5s;
    animation-play-state: paused;
    opacity: 0;
    will-change: transform;
}

#perfil {
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

#perfil.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

#react {
    transform: rotateY(-180deg);
    transition: 1s;
    transform-origin: left;
    will-change: transform;
}

#react.translate3D {
    transform: rotateY(0deg);
}

#javascript {
    transform: rotateX(-180deg);
    transition: 1s;
    transform-origin: bottom;
    will-change: transform;
}

#javascript.translate3D {
    transform: rotateX(0deg);
}

#nodejs {
    transform: rotateY(180deg);
    transition: 1s;
    transform-origin: right;
    will-change: transform;
}

#nodejs.translate3D {
    transform: rotateY(0deg);
}

#rightGallery {
    transition: 3s ease-out;
    transform: translateX(-100px) skew(10deg);
}

#rightGallery.translate {
    transform: translateX(0px) skew(0deg);
}

#leftGallery {
    transition: 2s ease-out;
    transform: translateX(80px) skew(-10deg);
}

#leftGallery.translate {
    transform: translateX(0px) skew(0deg);
}

@keyframes title {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}